<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel Planner Application</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="title" content="Travel Planner Application">
    <meta name="description" content="Travel Planner Application is a web tool that allows users to Plan Travel.">
    <meta name="keywords" content="API, Weathr, Travel,meaning cloud,udacity,node,express">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="10 days">
    <meta name="author" content="Zeyad Habbab">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://travel-planner-app-kappa.vercel.app/" />
    <meta property="og:title" content="Travel Planner Application" />
    <meta property="og:description" content="Travel Planner Application is a web tool that allows users to Plan Travel.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://travel-planner-app-kappa.vercel.app/" />
    <meta property="twitter:title" content="Travel Planner Application" />
    <meta property="twitter:description" content="Travel Planner Application is a web tool that allows users to Plan Travel.">

</head>

<body>
    <div class='mobile-phone' id="mobile-app">
        <div class='brove'>
            <span class='speaker'></span>
        </div>
        <div class='screen'>
           <div class="notification-bar">
                <div class="clock">
                    <div id="txt"></div>   
                </div>
                <div class="battary">
                    <i class="fa fa-battery-full"></i>   
                    <i class="fa fa-solid fa-wifi"></i>
                </div>
           </div>
          
           <div class="app-header">
                <div class="logo">
                    <i class="fa-solid fa-earth-americas"></i> Travel Planner
                </div>

                <div class="back-cion">

                </div>
           </div>
           <div class="app-content">
                <div id="search-view"  class="page active">
                    <form name="plantrip" id="plan-from">
                        <div id="search-from">
                            <h4>
                                Where & when your next trip?
                            </h4>
                        
                                <input type="text" placeholder="Destination" id="destination" aria-label="Destination" required>
                                <input type="date" placeholder="Start Date" id="date-start" aria-label="Date" required>
                                <input type="date" placeholder="Return Date" id="date-end" aria-label="Date" required>
                                <input type="submit" id="button-search" value="Search"></button>
                            
                        </div>
                    </form>
                    <div id="search-result">
                        <div id="search-result-data">


                        </div>
                        <div id="search-result-loader">
                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div id="saved-view" class="page">
                    saved-view
                </div>
           </div>
           <div class="app-footer">
                <div class="search">
                    <a href="#search" id="to-search"><i class="fa-solid fa-search"></i>Search</a>
                </div>
                <div class="saved">
                    <a href="#saved" id="to-saved"><i class="fa-solid fa-bookmark"></i>Saved</a>
                </div>
                <div class="github">
                    <a href="https://github.com/zeiadhabbab/Travel-Planner-App" target="_blank"><i class="fab fa-github fa-fw"></i>Sourc</a>
                </div>
                <div class="about">
                    <a href="https://zeyadmh.com/" target="_blank"><i class="fa-solid fa-external-link"></i>About</a>
                </div>
           </div>
           <div id="popup-holder">

           </div>
        </div>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>