#urlForm {
    border: 1px solid #cecece;
    border-radius: 3px;
    padding: 40px;
    
    
    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }

    .hidden{
        display: none;
    }

    position: relative;


    .loader {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: #b3b3b37a;
        font-size: 69px;
        color: black;
        display: none;
    }

    .build-text {
        text-align: right;
        font-size: 13px;
        position: absolute;
        right: 42px;
        bottom: 10px;
    }
}

input#button-search {
    background: #037e9b;
    color: #fff;
}


.card {
    border: 1px solid #ccc;
    background: #ffffff9e;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.43);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.43);
    .card-title {
        padding: 10px;
        font-weight: bolder;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .info{
        padding: 4px;
        font-size: 14px;
        width: 50%;
        .weather {
            border-left: 1px solid #ccc;
            padding-left: 10px;
        }
    }

    .all-info{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        justify-content: space-around;
    }
}